<div class="container-fluid">
  <form class="jumbotron col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
    <h2>Search Jurors</h2>
    <div class="form-group">
      <br>
      <input type="search" name="search" class="form-control" placeholder="Search by Juror Name or Juror ID">
    </div>
    <br>
    <button class="btn btn-primary">Search&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span></button>
  </form>
  <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
    <table class="table table-responsive table-hover table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th>Juror ID</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Event Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
      </tbody>
    </table>
  </div>
</div>
