<div class="container">
  <form class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
    <h2>Summon Jurors</h2>
    <br>
    <div class="input-items">
      <span class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" id="select-event" data-toggle="dropdown">Select Event Name
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="select-event">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">EVENT1</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">EVENT2</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#">EVENT3</a>
          </li>
        </ul>
      </span>
    </div>
    <div class="input-items">
      <div class="form-group">
        <input type="number" placeholder="Please enter number of Jurors to summon" name="jurors-number" class="form-control">
      </div>
    </div>
    <br>
    <button class="btn btn-primary">Summon Jurors</button>
  </form>
  <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
    <table class="table table-responsive table-hover table-striped table-bordered table-responsive">
      <thead>
        <tr>
          <th>Juror ID</th>
          <th>Juror Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
